$lightblue-color: #215BF0;
$disable-color: #8288a2;
$dark-color: #222222;
$disable-bgcolor:  #edeeef;
$light-grey: #999999;
$font-stack: 'Roboto', sans-serif;

%flex-tool {
    display: flex;
    flex-direction: column;
    position: relative; 
}