@media (max-width: 768px) {

    .tab-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        padding: 15px 10px;
        border-radius: 0;
        border-top: 1px solid $disable-color;
        border-bottom: 1px solid $disable-color;

        &_active {
            i {
                transform: rotate(180deg);
            }
        }

        &:last-of-type {
            &.tab-item_active {
                border-top: none;
            }
        }

        i {
            display: flex;
            transition: 0.5s;
        }
    }

    .tabs-content {
        position: relative;
    }

    .delivery-form {
        grid-template-areas: 'name name' 'ph ph' 'adr adr' 'com com' 'btn btn';
    }

    .pickup-form__radio-item:last-of-type {
        margin-top: 24px;
    }
}

@media (max-width: 500px) {

    .delivery-form__submit,
    .pickup-form__submit {
        margin: 0 auto;
    }
}
