@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    font-family: $font-stack;
    font-weight: bold;
    font-size: 14px;
}

.container {
    max-width: 996px;
    margin: 0 auto;
    position: relative; 

    h1 {
        margin: 41px 0;
    }
}

.tab-item {
    width: 152px;
    height: 48px;
    border: none;
    background-color: $disable-bgcolor;
    border-radius: 5px 5px 0px 0px;
    color: #999999;
    cursor: pointer;

    &.active {
        background-color: #fff;
        color: #215BF0;
    }

    label {
        cursor: pointer;
    }

    i {
        display: none;
    }
}


.tabs-content {
    width: 100%;
    position: absolute;
    display:none;
    padding: 20px 35px 20px 25px;
    background-color: #fff;

    &:first-of-type {
        display: block;
    }
    
    label {
        line-height: 26px;
    }    
}

.delivery-form {
    display: grid;
    grid-template-areas: 'name ph' 'adr adr' 'com com' '. btn';
    grid-template-columns: 50% 50%;
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    

    &_name {
        grid-area: name;
        @extend %flex-tool;  
    }

    &_phone {
        grid-area: ph;
        @extend %flex-tool; 
    }

    &_adress {
        grid-area: adr;
        @extend %flex-tool; 
    }

    &_comment {
        grid-area: com;
        @extend %flex-tool; 

        textarea {
            height: 111px;
            resize: none;
        }
    }

    &_submit {
        grid-area: btn;
        margin-left: auto;
    }
}


.pickup-form {

    &_radio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       
        &-item {
            position: relative;

            label {
                padding-left: 35px;
                
                color: #000;
                cursor: pointer;
    
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #dadef0;
                    background-color: #fff;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
    
                &:hover {
                    color: $lightblue-color;

                    &::before {
                        border-color: $lightblue-color;
                    }
                }
    
                &:after {
                    content: "";
                    width: 6px;
                    height: 6px;
                    display: block;
                    border-radius: 50%;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    z-index: 2;
                    opacity: 0;
                }

                &:disabled {
                    color: $light-grey;

                    &::before {
                        background-color: $disable-bgcolor;
                    }
                }
            }
    
            input[type="radio"]:checked + label::before {
                border-color: $lightblue-color;
            }
    
            input[type="radio"]:checked + label::after {
                background-color: $lightblue-color;
                opacity: 1;
            }
        }
    }

    &_map {
        width: 100%;
        height: 360px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &_submit {
        display: block;
        margin-left: auto;
    }   
}

@import 'mobile.scss';