@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    font-family: $font-stack;
    font-weight: normal;
    font-size: 14px;
    color: #222222;
}

.container {
    max-width: 996px;
    margin: 0 auto;
    position: relative; 

    &_title {
        margin: 41px 0;
        font-weight: normal;
        font-size: 32px;
        line-height: 40px;
    }
}

.tab-item {
    width: 152px;
    height: 48px;
    border: none;
    background-color: $disable-bgcolor;
    border-radius: 5px 5px 0px 0px;
    color: $light-grey;
    cursor: pointer;
    outline: none;

    &.active {
        background-color: #fff;
        color: $lightblue-color;
    }

    &_title {
        cursor: pointer;
        font-size: 16px;
    }

    i {
        display: none;
    }
}

.tabs-content {
    width: 100%;
    position: absolute;
    display:none;
    padding: 30px 40px;
    background-color: #fff;

    &:first-of-type {
        display: block;
    }
}

.delivery-form {
    display: grid;
    grid-template-areas: 'name ph' 'adr adr' 'com com' '. btn';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 20px;

    &_label {
        font-size: 12px;
        line-height: 16px;
    }
    
    &_name {
        grid-area: name;
        @extend %flex-tool;
    }

    &_phone {
        grid-area: ph;
        @extend %flex-tool;
    }

    &_adress {
        grid-area: adr;
        @extend %flex-tool; 
    }

    &_comment {
        grid-area: com;
        @extend %flex-tool; 
    }

    &_submit {
        grid-area: btn;
        margin-left: auto;
    }
}


.pickup-form {

    &_radio-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }       
       
    &_radio-item {
        position: relative;
    }

    &_radio-label {
        padding-left: 30px;
        cursor: pointer;
        line-height: 24px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid $dark-color;
            border-radius: 50%;
            top: 0;
            left: 0;
        }

        &:hover {
            color: $lightblue-color;
        }

        &:after {
            content: "";
            width: 6px;
            height: 6px;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 8px;
            opacity: 0;
        }

        &:disabled {
            color: $light-grey;

            &::before {
                background-color: $disable-bgcolor;
            }
        }
    }

    &_radio:checked + &_radio-label::after {
        background-color: $dark-color;
        opacity: 1;
    }
    

    &_map {
        width: 100%;
        height: 360px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    &_submit {
        display: block;
        margin-left: auto;
    }   
}

@import 'mobile.scss';